
@{
    ViewBag.Title = "QuyDinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">USAGE RULES</font></h2>
<ul>
    <li><b>Article 1: </b></li>
    - When registering an account, you should provide full information about your name, address, email,...
    <br />
    - These are mandatory information, customers must fill in all information so that we can base on that to serve you in the best way.
    <br />
    -Cases filled with missing information or false information will not be resolved.
    <li><b>Article 2: </b></li>Customer is responsible for maintaining password by himself, if password is exposed in any way, BookStore will not be responsible for any loss incurred.
    <li><b>Article 3: </b></li>Absolutely do not use any program, tool or other form to interfere with the system or change the data structure.
    <li><b>Article 4: </b></li>
    - When detecting system errors, please notify the bookstore admin team via email webbansach17dtha3@gmail.com
    <br />
    - There must not be any acts to illegally log in or attempt to log in illegally as well as cause damage to the bookstore's server system.
</ul>
  
